h1 {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: black;
}

.form-row,
.mainDiv {
    padding: 15px;
}

.card-body {
    margin-bottom: 15px
}